* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

.PivacyPolicy {
    background-image: url('../../../assets/Images/policybannerbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.5s ease;
    height: 500px;
    width: 100%;
    position: relative;
}

.PivacyPolicy .PrivacyBanner .privacyHead {
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    margin-bottom: 0px;
}

.heroWrpper .secondbox .headWrapperBox2 {
    font-size: 1.8rem;
    font-weight: 600;
}