* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

/********************HERO BANNER SECTION START***************/
.heroWrapper {
    background-color: var(--banner-bg-color);
    padding: 2rem 0rem;
    font-weight: 600;
}

.heroWrapper .digitalWrapper {
    font-size: 3.5rem;
    color: var(--red);
    font-weight: 500;
}

.heroWrapper .WrapperContent {
    font-size: 1.6rem;
    color: var(--black);
    font-weight: 600;
}

.heroWrapper .abtCompany {
    color: var(--black);
    font-weight: 600;
    letter-spacing: 0.9px;
}

/************WHY CHOOSE US SECTION START*************/
.ChooseUs {
    margin-top: 0rem;
}

.ChooseUs .InnerLogo img {
    width: 100%;
}

.ChooseUs .whyChooseSum .chooseHead {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--red);
    margin-bottom: 1.2rem;
}

.ChooseUs .ListMenu .listWorkingHead {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black);
}

.ChooseUs .ListMenu .listWorkingAbt {
    color: #5E5E5E;
    font-weight: 600;
    margin-bottom: 1.4rem;
}

/***************COMPANY WORK SUCEESS SECTION START***************/
.CompanySuccess {
    background-image: url('../../../assets/images/aboutChoosebg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.87;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

/****************REACH OUT US SECTION START****************/
.ReachOutUs {
    background-color: var(--red) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.ConnectBusiness {
    padding: 90px 0px;
    position: relative;
}

.ReachOutUs .InnerContactData .InnerCont {
    font-size: 1rem;
    color: var(--red);
    font-weight: bolder;
    text-align: center;
}

.ReachOutUs .InnerContactData .InnerHead {
    font-size: 3rem;
    color: var(--white);
    font-weight: bolder;
    text-align: center;
    line-height: 1.5;
}

.ReachOutUs .InnerContactData .abtbusineeslayer {
    font-size: 1rem;
    color: var(--white);
    text-align: center;
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.ReachOutUs .Connectbtn {
    display: block;
    background-color: var(--white);
    font-weight: 600;
    border-radius: 6px;
    width: 30%;
    color: var(--red);
    margin: auto;
    margin-bottom: 1.2rem;
    padding: 0.8rem 2rem;
    border: none;
    outline: none;
    position: relative;
    border: 1px solid var(--white);
    letter-spacing: 2px;
    transition: all .30s ease-in-out;
}

.ReachOutUs .Connectbtn span {
    position: relative;
    z-index: 2;
    border-radius: 6px;
}

.ReachOutUs .Connectbtn::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--red) !important;
    transition: all .35s;
    border-radius: 6px !important;
}

.ReachOutUs .Connectbtn:hover {
    color: var(--white) !important;
    font-weight: 600;
    border-radius: 6px;
}

.ReachOutUs .Connectbtn:hover:after {
    width: 100%;
    border-radius: 6px;
}

.ReachOutUs .Connectbtn .innerContact {
    color: var(--red) !important;
    font-weight: 600;
    text-transform: uppercase;
}

/***************MEDIA QUERY SECTION START**************/

@media(max-width:991px) {
    .ReachOutUs .Connectbtn {
        width: 60%;
    }
}