* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

.techStack{
    padding: 2rem;
    width: 100%;
}

.techStack .techDomain {
    font-size: 2.8rem;
    color: var(--red);
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1.4rem;
}

.techStack .domainInfo {
    font-size: 1rem;
    color: var(--para-text-color);
    font-weight: 600;
    line-height: 1.6;
}

.techStack img {
    margin-bottom: 1rem;
    width: 80px;
    height: 80px;
}

.techStack .iconlang {
    color: var(--para-text-color);
    font-weight: 600;
}